.category__movies{
    display: flex;
    position: relative;
    overflow-x: scroll;
}

.category__movies-item {
    position: relative;
    min-width: 14%;
    max-width: 14%;
    padding: 5px;
    cursor: pointer;
}

.category__movies-item > img {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
}

.category__movies-item > img:hover{
    outline:5px solid yellow;
    outline-offset: -5px;
}

