.details{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(230, 230, 230);
}

.details__image{
    max-width: 100%;
}

.details__title{
    position: absolute;
    top: 65%;
    left: 50%;
    letter-spacing: 1px;
    transform: translateX(-50%);
    text-shadow: 0 2px 2px rgba(0,0,0,1);
    font-size: 2.5rem;
    font-weight: bold;
    
}

.notfound {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.notfound__image {
    width: 50%;
    height: auto;
}

.notfound__message{
    color: white;
    width: 70%;
}

.notfound__message-title {
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.notfound__message-text {
    font-size: 1.4rem;
    letter-spacing: 1px
}

